<a href="https://colab.research.google.com/github/matsunori39/Python_Practical_Data_Analysis_100_Knocks/blob/main/Python_Practical_Data_Analysis_100_Knocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 第1章 ウェブからの注文数を分析する10本ノック

## ノック1:データを読み込んでみよう

In [3]:
cd /content/drive/MyDrive/Colab Notebooks/workspace/HandsOn/Python_Practical_Data_Analysis_100_Knocks/サンプルコード_20201021/1章

/content/drive/MyDrive/Colab Notebooks/workspace/HandsOn/Python_Practical_Data_Analysis_100_Knocks/サンプルコード_20201021/1章

In [4]:
ls

1章_ウェブからの注文数を分析する１０本ノック_answer.ipynb
1章_ウェブからの注文数を分析する１０本ノック.ipynb
customer_master.csv
item_master.csv
transaction_1.csv
transaction_2.csv
transaction_detail_1.csv
transaction_detail_2.csv

In [5]:
import pandas as pd
customer_master = pd.read_csv('customer_master.csv')
customer_master.head()

  customer_id customer_name    registration_date  ... age      birth pref
0    IK152942        平田 裕次郎  2019-01-01 00:25:33  ...  29  1990/6/10  石川県
1    TS808488         田村 詩織  2019-01-01 01:13:45  ...  33  1986/5/20  東京都
2    AS834628         久野 由樹  2019-01-01 02:00:14  ...  63   1956/1/2  茨城県
3    AS345469          鶴岡 薫  2019-01-01 04:48:22  ...  74  1945/3/25  東京都
4    GD892565         大内 高史  2019-01-01 04:54:51  ...  54   1965/8/5  千葉県

[5 rows x 9 columns]

In [6]:
item_master = pd.read_csv('item_master.csv')
item_master.head()

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000

In [7]:
transaction_1 = pd.read_csv('transaction_1.csv')
transaction_1.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [8]:
transaction_detail_1 = pd.read_csv('transaction_detail_1.csv')
transaction_detail_1.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

## ノック2: データを結合(ユニオン)してみよう

In [9]:
transaction_2 = pd.read_csv('transaction_2.csv')
transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)
transaction.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [10]:
print(len(transaction_1))
print(len(transaction_2))
print(len(transaction))

5000
1786
6786

In [11]:
transaction_detail_2 = pd.read_csv('transaction_detail_2.csv')
transaction_detail = pd.concat([transaction_detail_1, transaction_detail_2], ignore_index=True)
transaction_detail.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

## ノック3: 売上データ同士を結合(ジョイン)してみよう

In [12]:
join_data = pd.merge(transaction_detail, transaction[["transaction_id", "payment_date", "customer_id"]], on="transaction_id", how="left")
join_data.head()

   detail_id transaction_id item_id  quantity         payment_date customer_id
0          0    T0000000113    S005         1  2019-02-01 01:36:57    PL563502
1          1    T0000000114    S001         1  2019-02-01 01:37:23    HD678019
2          2    T0000000115    S003         1  2019-02-01 02:34:19    HD298120
3          3    T0000000116    S005         1  2019-02-01 02:47:23    IK452215
4          4    T0000000117    S002         2  2019-02-01 04:33:46    PL542865

In [13]:
print(len(transaction_detail))
print(len(transaction))
print(len(join_data))

7144
6786
7144

## ノック4: マスターデータを結合(ジョイン)してみよう

In [14]:
join_data = pd.merge(join_data, customer_master, on="customer_id", how="left")
join_data = pd.merge(join_data, item_master, on="item_id", how="left")
join_data.head()

   detail_id transaction_id item_id  ...  pref item_name item_price
0          0    T0000000113    S005  ...   熊本県      PC-E     210000
1          1    T0000000114    S001  ...   京都府      PC-A      50000
2          2    T0000000115    S003  ...   茨城県      PC-C     120000
3          3    T0000000116    S005  ...   兵庫県      PC-E     210000
4          4    T0000000117    S002  ...   長崎県      PC-B      85000

[5 rows x 16 columns]

## ノック5: 必要なデータ列を作ろう

In [15]:
join_data["price"] = join_data.quantity * join_data.item_price
join_data[["quantity", "item_price", "price"]].head()

   quantity  item_price   price
0         1      210000  210000
1         1       50000   50000
2         1      120000  120000
3         1      210000  210000
4         2       85000  170000

## ノック6: データ検算をしよう

In [16]:
print(join_data.price.sum())
print(transaction.price.sum())

971135000
971135000

In [17]:
join_data.price.sum() == transaction.price.sum()

True

## ノック7: 各種統計量を把握しよう

In [18]:
join_data.isnull().sum()

detail_id             0
transaction_id        0
item_id               0
quantity              0
payment_date          0
customer_id           0
customer_name         0
registration_date     0
customer_name_kana    0
email                 0
gender                0
age                   0
birth                 0
pref                  0
item_name             0
item_price            0
price                 0
dtype: int64

In [19]:
join_data.describe()

         detail_id     quantity          age     item_price          price
count  7144.000000  7144.000000  7144.000000    7144.000000    7144.000000
mean   3571.500000     1.199888    50.265677  121698.628219  135937.150056
std    2062.439494     0.513647    17.190314   64571.311830   68511.453297
min       0.000000     1.000000    20.000000   50000.000000   50000.000000
25%    1785.750000     1.000000    36.000000   50000.000000   85000.000000
50%    3571.500000     1.000000    50.000000  102500.000000  120000.000000
75%    5357.250000     1.000000    65.000000  187500.000000  210000.000000
max    7143.000000     4.000000    80.000000  210000.000000  420000.000000

In [20]:
print(join_data.payment_date.min())
print(join_data.payment_date.max())

2019-02-01 01:36:57
2019-07-31 23:41:38

### ノック8: 月別でデータを集計してみよう

In [21]:
join_data.dtypes

detail_id              int64
transaction_id        object
item_id               object
quantity               int64
payment_date          object
customer_id           object
customer_name         object
registration_date     object
customer_name_kana    object
email                 object
gender                object
age                    int64
birth                 object
pref                  object
item_name             object
item_price             int64
price                  int64
dtype: object

In [22]:
join_data.payment_date = pd.to_datetime(join_data.payment_date)
join_data["payment_month"] = join_data.payment_date.dt.strftime("%Y%m")
join_data[["payment_date", "payment_month"]].head()

         payment_date payment_month
0 2019-02-01 01:36:57        201902
1 2019-02-01 01:37:23        201902
2 2019-02-01 02:34:19        201902
3 2019-02-01 02:47:23        201902
4 2019-02-01 04:33:46        201902